body{
    background-color: darkslategray;
    max-width: 100vw;
}
.button1,.button2,.button3,.button4{
    width:200px;
    height: 95px;
    background-color: black;
    border:solid teal;
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration:none;
    display:inline-block;
    margin-top:7%;
}
.button1,.button3{
    float:left;
    margin-left:25%;
}
.button2,.button4{
    float:right;
    margin-left:10%;
    margin-right:25%;
}
a:hover{
    color:red;
    transition: 0.5s;
}