<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Screening</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li><a href="/screenings">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>

    <div class="mainContent">
        <h3>Add new Screening</h3>

        <form id="form" name="screening" th:action="@{'/savescreening'}" th:object="${screeningForm}"  method="post" onsubmit="return isEmpty(this)">

         <label for="showing">Showing Date & Time </label>
         <input type="text" th:field="${screeningForm.showing}"  id="showing" name="showing" placeholder="yyyy MM dd HH:mm">



         <label for="movie">Movies</label>
         <select th:field="${screeningForm.movie_id}"  id="movie" placeholder="Movies">
             <option th:each="movie: ${movielist}"
                     th:value="${movie.getId()}"
                     th:text="${movie.getTitle()}"></option>
         </select>

            <label for="theater">Theater</label>
            <select th:field="${screeningForm.theater_id}"  id="theater" placeholder="Theater">
                <option th:each="theater: ${theaterlist}"
                        th:value="${theater.getTheater_id()}"
                        th:text="${theater.getTheater_name()}"></option>
            </select>

            <button class="button1" type="submit">Save</button>
            <a  class="button2" href="/screenings " role="button" >Cancel</a>


 </form>
        <script>
            function isEmpty(form){
                var x=form.getElementsByTagName("input");
                for(var i=0;i<x.length;i++){
                    if(x[i].value==0 || x[i].value==""){
                        alert("Please insert " + x[i].id+ "!");
                        return false;
                    }
                }
                return true;
            }
        </script>

</div>



</body>
</html>
