<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
    <title>Movie Edit</title>

</head>
<body>

<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li><a href="/movies">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="mainContent">
    <h3>Edit Movie</h3>

        <form id="form" action="/updateMovie" method="post" th:object="${movie}" onsubmit="return isEmpty(this)">
            <input type="hidden" th:field="${movie.id}">

            <label for="title">MovieTitle</label>
            <input type="text" th:field="${movie.title}"  id="title" placeholder="Title">

            <label for="director">MovieDirector</label>
            <input type="text" th:field="${movie.director}"  id="director" placeholder="MovieDirector">

            <label for="genre">MovieGenre</label>
            <input type="text" th:field="${movie.genre}"  id="genre" placeholder="Genre">

            <label for="plot">MoviePlot</label>
            <input type="text" th:field="${movie.plot}" id="plot" placeholder="MoviePlot">

            <label for="duration">MovieDuration</label>
            <input type="text" th:field="${movie.duration}"   id="duration" placeholder="MovieDuration">

            <label for="movie_format">MovieFormat</label>
            <select th:field="${movie.format}"  id="movie_format" name = "movies" placeholder="MovieFormat">
                <option value="2D">2D</option>
                <option value="3D">3D</option>
            </select>

            <label for="image">Movie Image</label>
            <input type="text" th:field="${movie.image}" id="image" placeholder="MovieImage">

            <button class="button1" type="submit">Save</button>
            <a  class="button2" href="/movies " role="button" >Cancel</a>

            <script>
                function isEmpty(form){
                    var x=form.getElementsByTagName("input");
                    for(var i=0;i<x.length;i++){
                        if(x[i].value==0 || x[i].value==""){
                            alert("Please insert " + x[i].id+ "!");
                            return false;
                        }
                    }
                    return true;
                }
            </script>
        </form>

    </div>
</body>
</html>
