<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Theater</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" href="/static/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li><a href="/theaters">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="mainContent">
    <h3>Edit Theater</h3>

    <form id="form" action="/updatetheater" method="post" th:object="${theaterform}" onsubmit="return isEmpty(this)">
        <input type="hidden" th:field="${theaterform.theater_id}">

        <label for="theater_name">Name</label>
        <input type="text" th:field="${theaterform.theater_name}" class="form-control"  id="theater_name" placeholder="TheaterName">

        <label for="theater_format">Format</label>
        <select th:field="${theaterform.theater_format}" class="form-control" id="theater_format"  placeholder="TheaterFormat">
            <option value="2D">2D</option>
            <option value="3D">3D</option>
        </select>

        <label for="number_of_rows">Number Of Rows</label>
        <input type="text" th:field="${theaterform.number_of_rows}" class="form-control" id="number_of_rows" placeholder="NumberOfRows">

        <label for="seats_per_row">Seats Per Row</label>
        <input type="text" th:field="${theaterform.seats_per_row}" class="form-control" id="seats_per_row" placeholder="SeatsPerRow">


        <button class="button1" type="submit">Save</button>

        <a  class="button2" href="/theaters" role="button" >Cancel</a>

        <script>
            function isEmpty(form){
                var x=form.getElementsByTagName("input");
                for(var i=0;i<x.length;i++){
                    if(x[i].value==0 || x[i].value==""){
                        alert("Please insert " + x[i].id+ "!");
                        return false;
                    }
                }
                return true;
            }
        </script>

    </form>
</div>
</body>
</html>