<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bio Trio</title>
    <link th:href="@{/css/index.css}" href="/static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="mainContent">
    <h1>BioTrio</h1>
    <div class="buttonWrapper">
        <a role="button" class="btn1" href="/moviesuser">Book  ticket</a>
        <a role="button" class="btn2" href="/employeescreen">Employee page</a>
    </div>
</div>
</body>
</html>