<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies view</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" href="/static/css/table.css" rel="stylesheet" type="text/css"/>


</head>

<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li><a href="/moviesuser">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="mainContent">
    <h2>Screenings</h2>

    <table id="table">
        <thead>

        <th scope="col">Show Date</th>
        <th scope="col">Show Time</th>
        <th scope="col">Theater</th>
        <th scope="col">Book</th>


        </thead>

        <tr th:each="screening: ${screeningsForMovies}">

            <td th:text="${screening.showing.toLocalDate()}"/>
            <td th:text="${screening.showing.toLocalTime()}"/>
            <td th:text="${screening.theater.theater_name}"/>
            <td>
                <a th:href="@{'/seatsforscreening/' + ${screening.getScreening_id()}}"  class="button3">Book</a>
            </td>

        </tr>

    </table>
</div>
</body>
</html>