<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bookings view</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" href="/static/css/table.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>

                <li>
                    <form th:action="@{/find-booking}" method="post">
                        <input class="search" type="text" name="search" id="search" placeholder="phone number"/>
                        <input type="submit" value="Search"/>
                    </form>
                </li>
                <li><a href="/">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="mainContent">
    
<h2>List of bookings</h2>

<table id="table">

    <thead>
    <tr>
        <th scope="col">Booking Id</th>
        <th scope="col">Row</th>
        <th scope="col">Seat booked</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Movie</th>
        <th scope="col">Theater</th>
        <th scope="col">Screening Date</th>
        <th scope="col">Screening Time</th>
        <th scope="col">Delete</th>
    </tr>

    </thead>

    <tr th:each="booking: ${bookinglist}">

    <tr th:each="booking: ${bookinglist}">

        <th scope="row" th:text="${booking.getBooking_id()}">1</th>
        <td th:text="${booking.getSeat().getRowNo()}">{{Row}}</td>
        <td th:text="${booking.getSeat().getSeatNo()}">{{Seat Booked}}</td>
        <td th:text="${booking.getPhone_no()}">{{Phone No}}</td>
        <td th:text="${booking.getScreening().getMovie().getTitle()}">{{Movie}}</td>
        <td th:text="${booking.getScreening().getTheater().getTheater_name()}">{{Theater}}</td>
        <td th:text="${booking.getScreening().getShowing().toLocalDate()}">{{Screening Booked}}</td>
        <td th:text="${booking.getScreening().getShowing().toLocalTime()}">{{Screening Booked}}</td>
        <td><a th:href="@{'/deletebooking/' + ${booking.getBooking_id()}}" class="button3" >Delete</a></td>

    </tr>

</table>

</div>

</body>
</html>