<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Screenings view</title>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" href="/static/css/table.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li>
                    <form th:action="@{/screenings-search}" method="post">
                        <input class="search" type="date" name="search" id="search" placeholder="yyyy-MM-dd"/>
                        <input type="submit" value="Search"/>
                    </form>
                </li>
                <li><a href="/screenings" class="active">Screenings</a></li>
                <li><a href="/addscreening">Add screening</a></li>
                <li><a href="/">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="mainContent">
<h2>List of Screenings</h2>

<table id="table">

    <thead>
    <th scope="col">Showing</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th scope="col">Movies</th>
    <th scope="col">Theater</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </thead>

    <tr th:each="screening: ${screeninglist}" >
        <th scope="row" th:text="${screening.getScreening_id()}">1</th>
        <td th:text="${screening.getShowing().toLocalDate()}">{{Date}}</td>
        <td th:text="${screening.getShowing().toLocalTime()}">{{Time}}</td>
        <td th:text="${screening.getMovie().getTitle()}">{{Movie}}</td>
        <td th:text="${screening.getTheater().getTheater_name()}">{{Theater}}</td>

        <td>
            <a role="button" class="button1" th:href="@{'/screenings/edit/' + ${screening.screening_id}}" >Edit</a>
        </td>

        <td>
            <a role="button" class="button2" th:href="@{'/screenings/delete/' + ${screening.screening_id}}" >Delete</a>
        </td>
    </tr>

</table>
<div>
</body>
</html>
