<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:a="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link th:href="@{/css/user.css}" href="/static/css/user.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/nav.css}" href="/static/css/nav.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>BIO<span>TRIO</span></h1></a>
        <nav>
            <ul>
                <li>
                    <form th:action="@{/bookings-user}" method="post">
                        <li>Find booking </li>
                        <input class="search" type="text" name="search" id="search" placeholder="phone number"/>
                        <input type="submit" value="Search"/>
                    </form>
                </li>
                <li><a href="/">Exit</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="mainContent">
    <div class="movieList">
        <div class="movie" th:each="movie:${movies}">
            <img th:if="${movie.getImage()}" th:src="${movie.getImage()}" class="image">
            <div class="rightContent">
                <p th:text="${'Title: '+ movie.title}"></p>
                <p th:text="${'Genre: '+ movie.genre}"></p>
                <p th:text="${'Director: '+ movie.director}"></p>
                <p th:text="${'Plot: '+ movie.plot}"></p>
                <p th:text="${'Duration: '+ movie.duration}"></p>
                <a id='seeScreenings' th:href="${'/screeningbymovie/'+ movie.id}">See screenings</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>